<!DOCTYPE html>
<html lang="ja">

<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>いづもや予約サイト</title>
    <style>
        body {
            width: 960px;
            margin: 0 auto;
            padding-top: 50px;
        }

        nav > a {
            margin-right: 10px;
        }


    </style>
</head>

<body>

    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'booking:list' %}">予約リスト</a>
            <a href="{% url 'booking:logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'booking:login' %}">Login</a>
        {% endif %}
    </nav>

    {% for message in messages %}
        <p> {{ message }}</p>
    {% endfor %}

    <div class="container mt-3">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>